{% extends "::base.html.twig" %}
{% block content %}

    <h1>A propos</h1>

    <p>lsnn.ch est un projet développé par <a href="http://twitter.com/zufrieden">@zufrieden</a> qui a pour objectif de lister tous les créatifs lausannois.</p>
    <p>
      D'après l'idée de <a href="https://twitter.com/prtlnd">@prtlnd</a> et son site <a href="http://prtlnd.com/" title="PRTLND">prtlnd.com</a>.
    </p>
    <p>Basé sur le framework PHP <a href="http://symfony.com/">Symfony2</a> et <a href="http://twitter.github.io/bootstrap">Bootstrap</a>, ce projet sous licence MIT est disponible sur <a href="https://github.com/zufrieden/lsnn">Github</a>.</p>
{% endblock %}