{% extends "::base.html.twig" %}
{% block content %}

    <h1>About</h1>

    <p>lsnn.ch is a project developed by <a href="http://twitter.com/zufrieden">@zufrieden</a> to list creative people from Lausanne.</p>
    <p>Based on <a href="http://symfony.com/">Symfony2</a> and <a href="http://foundation.zurb.com">Foundation</a>, this project is licenced under MIT and available on <a href="https://github.com/zufrieden/lsnn">Github</a>.</p>
{% endblock %}