{% extends "::base.html.twig" %}
{% block content %}

    <h1>A propos</h1>

    <p>naturoromandie.ch est un projet proposé par l'<a href="http://www.epsn.ch">EPSN</a> (Ecole Professionnelle Supérieure de Naturopathie) qui a pour objectif de lister tous les naturopathes et éducateurs de santé de romandie en donnant une image humaine à la pratique de la naturopathie et pour laisser choisir le patient de manière la plus neutre possible.</p>

      <p>D'après l'idée de <a href="https://twitter.com/prtlnd">@prtlnd</a> et son site <a href="http://prtlnd.com/" title="PRTLND">prtlnd.com</a>.
    </p>
{% endblock %}