{% extends "::base.html.twig" %}
{% block content %}

    <h1>A propos</h1>

    <p>lsnn.ch est un projet développé par <a href="http://twitter.com/zufrieden">@zufrieden</a> pour lister les créatifs lausannois.</p>
    <p>Basé sur le framework PHP <a href="http://symfony.com/">Symfony2</a> et <a href="http://twitter.github.io/bootstrap">Bootstrap</a>, ce projet est sous licence MIT est disponible sur <a href="https://github.com/zufrieden/lsnn">Github</a>.</p>
{% endblock %}