{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
  {% for creative in creatives %}
    {% if loop.index is divisibleby(4) %}
      <div class="row creatives">
    {% endif %} 
    <div class="span3">
      <div class="creative">
        <a href="{{ creative.url }}">
          <div class="profile">
            <img src="{{ creative.photo }}" width="100%">
          </div>
          <div class="infos">
            <h3>{{ creative.name }}</h3>
            <div class="skills">
            {% for skill in creative.skills %}
              <span class="round label">{{ skill.name }}</span>
            {% endfor %}
            </div>
          </div>
        </a>
      </div>
    </div>
    {% if loop.index is divisibleby(4) %}
    </div>
    {% endif %} 
  {% endfor %}
</div>
{% endblock %}
