{% extends '::base.html.twig' %}

{% block content %}
    <h1>S'ajouter</h1>
    <div class="well">
        <form action="{{ path('creative_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit" class="btn btn-primary">Add yourself</button>
            </p>
        </form>
    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('lsnn_core_homepage') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
